html
  head
    title Home Page
    link(rel="stylesheet", href="Home.css")
    script(src="Home.js")
  body(onload="init()")
    include Header.pug
    h1 All Art 
    br
    div(class="artGrid")
      for art in allArt 
        div(class="art")
          h2= art.Title
          img(src=art.Poster, alt="Oops, the art poster is acting a bit odd, but You can right click to see it still!")
          p= "Artist: " + art.Artist
          if (art.isLikedBy.includes(user.userName))
            button(class="likedButton", onclick=`toggleLikedArt(${art,user})`) Unlike
          else
            button(class="unlikedButton", onclick=`toggleLikedArt(${art,user})`) Like
  