html
  head
    title Home Page
    link(rel="stylesheet", href="Home.css")
    script(src="Home.js")
  body(onload="init()")
    include Header.pug
    h1 All Art 

    for art in allArt 
      div(class="art")
        h2= art.Title
        img(src=art.Poster)
        p= "Artist: " + art.Artist
        p= "Year: " + art.Year
        p= "Category: " + art.Category
        p= art.Description
        button(type="button", id=`${art.title} like`) Like
