html
    head
        title User Settings Page
        link(rel="stylesheet", href="UserSettings.css")
        script(src="UserSettings.js")
    body(onload="init()")
        include Header.pug
        h1 User Account Type 
        br
        if user.isArtist == true 
            h2= "Your account type is: Artist" 
            br
            h2= "Your user name is " + user.userName
            button(onclick=`changeAccountType(${JSON.stringify(user)})`) Change Account Type
            br
            br
            a(href="/interactions", type="text/html") Click here to manage likes/reviews
            br
            br
            a(href="/notifications", type="text/html") Click here to see your notifications
        else if user.isArtist == false
            h2= "Your account type is: Patron" 
            br
            h2= "Your user name is " + user.userName
            button(onclick=`changeAccountType(${JSON.stringify(user)})`) Change Account Type
            br
            br
            a(href="/interactions", type="text/html") Click here to manage likes/reviews
            br
            br
            a(href="/notifications", type="text/html") Click here to see your notifications